.btn-link, .page-title, a, .editor-toolbar .fa {
    color: #7282da
}

.text-primary {
    color: #007bff !important
}

.text-primary-hover:hover {
    color: #104a80 !important
}

.btn-link:hover, .text-primary, a:hover, footer .links a:hover, footer .social a:hover {
    color: #a1b8e9
}

.form-check-input:checked {
    background-color: #007bff !important
}

.bg-primary, .dropdown-item.active, .dropdown-item:active, .list-group-item.active, .progress-bar, .accordion-button:not(.collapsed) {
    background-color: #7282da !important
}

.bg-primary-darker {
    background-color: #104a80 !important
}

.btn-primary, .form-check-input, .list-group-item.active {
    border-color: #007bff
}

.form-check-input:checked {
    background-color: #0059ff !important;
    border-color: #0059ff !important
}

.form-select:focus, .form-control:focus, .accordion-item {
    border-color: #007bff !important
}

.btn-primary.disabled, .btn-primary.hover, .btn-primary:disabled, .btn-primary:hover {
    background-color: #007bff !important;
    border-color: #007bff !important
}

.btn-primary.active, .btn-primary:hover {
    background-color: #007bff !important;
    border-color: #007bff !important
}

h1 {
    color: #7282da !important
}

.background-overlay:before {
    background: linear-gradient(0deg, #0c0f18, transparent 80%)
}

.navbar .navbar-nav .nav-link:hover {
    color: #7293da !important
}

.list-group-item.active {
    border-left: solid 2px #007bff;
    background-color: rgba(0, 0, 0, .25) !important
}
