.btn-link, .page-title, a, .editor-toolbar .fa {
    color: #dab672
}

.text-primary {
    color: #ffa600 !important
}

.text-primary-hover:hover {
    color: #bd8127 !important
}

.btn-link:hover, .text-primary, a:hover, footer .links a:hover, footer .social a:hover {
    color: #e9caa1
}

.form-check-input:checked {
    background-color: #ffa600 !important
}

.bg-primary, .dropdown-item.active, .dropdown-item:active, .list-group-item.active, .progress-bar, .accordion-button:not(.collapsed) {
    background-color: #dab672 !important
}

.bg-primary-darker {
    background-color: #bd8127 !important
}

.btn-primary, .form-check-input, .list-group-item.active {
    border-color: #ffa600
}

.form-check-input:checked {
    background-color: #fb0 !important;
    border-color: #fb0 !important
}

.form-select:focus, .form-control:focus, .accordion-item {
    border-color: #ffa600 !important
}

.btn-primary.disabled, .btn-primary.hover, .btn-primary:disabled, .btn-primary:hover {
    background-color: #ffa600 !important;
    border-color: #ffa600 !important
}

.btn-primary.active, .btn-primary:hover {
    background-color: #ffa600 !important;
    border-color: #ffa600 !important
}

h1 {
    color: #dab672 !important
}

.background-overlay:before {
    background: linear-gradient(0deg, #0c0f18, transparent 80%)
}

.navbar .navbar-nav .nav-link:hover {
    color: #dabc6c !important
}

.list-group-item.active {
    border-left: solid 2px #ffa600;
    background-color: rgba(0, 0, 0, .25) !important
}
